
body{
    background-image: url("./images/pexels-mohi-syed-137219.jpg");
    /* background-color: rgba(0, 0, 0, 0.247); */
    display: flex;
    flex-direction: column;
    /*max-width: 200px;
    /*min-height: 700px; */
}
h2{
    color: burlywood;
}
#container{
    flex-direction: column;
    background-color: rgba(35, 70, 200, 0.204);
    margin-top: 5%;
}

header{
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: cursive;
    color: rgb(248, 248, 248);
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed !important;
    display: block;
}

article{
    padding: 2px;
    display: flex;
    justify-content:space-around;

}
#visitCard{
    border-radius: 5px;
    width: 100vw;
    height: 11vw;
    margin-right: 20px;
    float: left;
    background-color: rgba(224, 22, 22, 0.405);
}
#visitCard:hover{
    border: 5px solid white;
}
#me{
    height: 10vw;
    width: auto;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}
#visitName{
    color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 2em;
}
#visitCard > p{
    color: white;
    margin-top: 2px;
    font-size: 1em;
}

#aboutMe{
    border: 3px solid black;
    height: 11vw;
    overflow: auto;
    background-color: rgba(17, 2, 2, 0.2);
    color: azure;
    font-weight: bold;
}
#aboutMeHeader{
    text-align: center;
}

section{
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
#skillList{
    display: flex;
    flex-direction: column;
    width: 20vW;
    height: 87vw;
    background-color: rgba(17, 2, 2, 0.2);
    
}
#skills{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(224, 22, 22, 0.066);
    text-align: center;
}
#languagesContainer{
    margin: 10px;
    background-color: rgba(224, 22, 22, 0.066);
    text-align: center;
}
#languages{
    display: flex;
    flex-direction: row;
}
.skillsImg{
    width: 50px;
    margin: auto;
}
.skillsImg:hover{
    border: 5px solid white;
}
.languagesImg{
    width: 58px;
}
.languagesImg:hover{
    border: 5px solid white;
}

#projectList{
    display: flex;
    flex-direction: column;
    width: 75vW;
    height: 85vw;
    background-color: rgba(17, 2, 2, 0.2);
    padding: 15px;
}
#projectlist ul {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 10px;
    border-style: solid;
    border-color: brown;
}

#portfolio{
    text-align: center;
    width: 100vw;
    height: 200px;
}
#resume{
    text-align: center;
    display: flex;
    justify-content: center;
}
.resumeImg{
    width: 40px;
}
#resume a:hover{
    transform: scale(1.5);
}
#resumeEng:hover{
    background-image: url("./images/icons8-great-britain-48.png");
}
#resumeDe:hover{
    background-image: url("./images/icons8-germany-48.png");
}

#links{
    display: flex;
    justify-content: space-around
}
.linksImg{
    width: 50px;
}
#links a:hover{
        transform: scale(1.5);
}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.404);
    color: blanchedalmond;
}
